{% extends 'blog/base.html' %}

{% block content %}

<h1>
    Deine Entwürfe
</h1>
<hr>

{% for post in posts %}
<article class="post">
    <p class="date">
        {{ post.created_date|date:'d.m.Y, H:i' }}
    </p>
    <h2>
        <a href="{% url 'post_detail' pk=post.pk %}">
            {{ post.title }}
        </a>
    </h2>
    {% if post.edit_date %}
    <h6>
        Zuletzt bearbeitet am {{ post.edit_date|date:"d.m.y," }} um {{ post.edit_date|date:"H:i" }}
    </h6>
    {% endif %}
    <p>
        {{ post.text|linebreaksbr|truncatechars:400 }}
    </p>
</article>
{% endfor %}

{% endblock %}